<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
    <p>Invoice sent to <%= @order.email %></p>
    <h4>Order Summary:</h4>

    <div class="panel panel-default items">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th colspan="2">Product</th>
          <th>Unit Price</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% order_product_details.each do |product| %>
          <%= render 'line_item', product_name: product[0][:product].name, product_description: product[0][:product].description, product_image: product[0][:product].image, line_item_price: product[0][:line_item].item_price_cents, line_item_quantity: product[0][:line_item].quantity, line_item_total: product[0][:line_item].total_price_cents %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            ORDER TOTAL:
          </th>
          <th>
            $ <%= @order.total_cents / 100 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  </div>

</section>
